:root {
  font-family: "Ysabeau Office", sans-serif;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

#newGameButton {
  margin-top: 50px;
  padding: 10px;
  background-color: aliceblue;
  font-size: 22px;
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameboard {
  border: 2px solid green;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.square {
  height: 1fr;
  width: 1fr;
  border: 3px solid lightgrey;
}

.square:hover {
  background-color: lightgrey;
}

.x-square {
  background-image: ;
}
